
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #0513db, #01c795);
}
::selection {
  color: #fff;
  background: #3c87ff;
}
.navbar{
  width: fit-content;
  margin: auto;
  color: white;
}
.navbar h1{
  font-family: monospace;
  margin-top: 10%;
}
.wrapper {
  max-width: 85vw;
  padding: 28px 0 30px;
  margin: auto;
  margin-top: 20vh;
  min-height: 40vh;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.task-input {
  height: 52px;
  padding: 0 25px;
  position: relative;
}
.task-input img {
  top: 50%;
  position: absolute;
  transform: translate(17px, -50%);
}
.task-input input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 0 20px 0 53px;
  border: 1px solid #999;
}
.task-input input:focus,
.task-input input.active {
  padding-left: 52px;
  border: 2px solid #3c87ff;
}
.task-input input::placeholder {
  color: #bfbfbf;
}
.task-heading{
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}
.task-heading .pending{
 margin-left: 30px;
 color: #0513db;
}
.task-heading .completed{
  margin-left: 30px;
  color: #0513db;
}
.task-heading  .btn{
margin-right: 30px;
}
 .clear-btn{
  border: none;
  outline: none;
  color: #fff;
  font-size: 13px;
  padding: 7px 13px;
  border-radius: 4px;
  letter-spacing: 0.3px;
  transition: transform 0.25s ease;
  background: linear-gradient(135deg, #1798fb 0%, #2d5cfe 100%);
  cursor: pointer;
}
.task-box{
  padding: 20px;
}
.one-item{
  display: flex;
  border-bottom: 1px solid gray;
  padding: 8px;
}
.one-item input{
  align-self: center;
  flex-basis: 5%;
}
.one-item p{
  align-self: center;
  margin-left: 20px;
  flex-basis: 55%;
  flex-wrap: wrap;
}
.two-item{
  display: flex;
  border-bottom: 1px solid gray;
  padding: 8px;
}
.two-item .check{
  align-self: center;
  flex-basis: 5%;
  width: fit-content;
  padding: 10px;
}
.two-item .text{
  align-self: center;
  margin-left: 20px;
  text-decoration-line: line-through;
 flex-basis: 55%;
}
.one-item .delete{
  width: 90%;
  display: flex;
  justify-content: flex-end;
  flex-basis: 35%;
}
.two-item .delete{
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  flex-basis: 35%;
}

@media only screen and (max-width: 768px){
  html{
    font-size: medium;
  }
}
@media only screen and (max-width: 600px){
  html{
    font-size: small;
  }
}